<nz-layout style="height: 100vh; position: fixed; min-width: 100vw">
  <nz-header style="background-color: rgb(101, 145, 35)">
    <div class="logo"></div>
    <div id="logoImage">
      <a id="eXCheck">
        <img src="/assets/eXChecklogo.png" alt="logo">
      eXCheck
      </a>
      <button nz-button nzType="primary" (click)="user()" style="float: right; right: -70vw; margin-top: -3vh;">New Checkout</button>
    </div>
  </nz-header>
  <nz-content style="margin: 20px; height: 100%">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
