#eXCheck{
    font-size:30px;
    font-weight: bold;
    color: antiquewhite;
    display: inline-block; 
    margin-bottom: 30px;

}

#logoImage {
    display: flex;
    align-items: center;
  } 

  .ant-layout-header {
    padding-bottom: 70px;
  }